<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Marshmallow Bootstrap Admin Dashboard Template</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800" rel="stylesheet"> 
	<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="vendors/owl.carousel/css/owl.carousel.css">
	<link rel="stylesheet" href="vendors/owl.carousel/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendors/aos/css/aos.css">
	<link rel="stylesheet" href="vendors/jquery-flipster/css/jquery.flipster.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="images/favicon.png" />
	<link href="fa/font-awesome.css" rel="stylesheet" type="text/css">
</head>