<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/owl.carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="vendors/owl.carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/aos/css/aos.css">
    <link rel="stylesheet" href="vendors/jquery-flipster/css/jquery.flipster.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="body-content row">
        <div class="col-md-5">Crea un proyecto</div>
        <div class="col-md-7 card p-5">
            <div class="row g-1">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="projectID">ID del proyecto</label>
                        <input type="text" id="projectID" class="form-control fa fa-search">
                        <small id="idHelp" class="form-text text-muted">*Campo inmodificable</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="projectName">Nombre del proyecto</label>
                        <input type="text" id="projectName" class="form-control"
                            placeholder="Asignar un nombre al proyecto" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" style="width: 40%;">CREAR PROYECTO</button>
            </div>
        </div>
    </div>
</body>
</html>