<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
	{{>navbar}}
    <!-- Project Creation Form -->
    <div class="body-content row">
        <div class="col-md-5">Crea un proyecto</div>
        <div class="col-md-7 card p-5">
            <div class="row g-1">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="projectID">ID del proyecto</label>
                        <input type="text" id="projectID" class="form-control" readonly>
                        <small id="idHelp" class="form-text text-muted">*Campo inmodificable</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="projectName">Nombre del proyecto</label>
                        <input type="text" id="projectName" class="form-control"
                            placeholder="Asignar un nombre al proyecto" />
                    </div>
                </div>
            </div>
    
            <div class="row g-5 mt-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="adminDir">Dirección pública del administrador</label>
                        <input type="text" id="adminDir" class="form-control"
                            placeholder="Asignar dirección pública del administrador" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="projectRequirement">Requerimientos del projecto</label>
                        <select class="form-select p-2">
                            <option selected>Seleccionar requerimiento</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" style="width: 40%;">CREAR PROYECTO</button>
            </div>
        </div>
    </div>
</body>
</html>

